// ## Utilities
html {
  font-size: 16px;
}

body {
  font-family: "Inter Variable";
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.list-unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  width: 100%;
  flex-basis: 31%;
  padding-left: 15px;
  padding-right: 15px;

  > * {
    max-width: 100%;
  }
}

.truncate-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Add ellipsis */
  word-break: break-word; /* Handle long words gracefully */
}

// ## Main-header
.main-header {
  border-bottom: 1px solid rgba(#000, 0.1);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-logo {
  max-width: 110px;
  flex-basis: 110px;
  display: block;

  img {
    width: 100%;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  list-style-type: none;

  .nav-item {
    padding: 37px 22px;
    a {
      margin: 0 15px;
      color: black;
      text-decoration: none;
      padding: 8px;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links-button {
  height: 22px;
  width: 22px;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

// ## Recipe

.recipe {
  background: linear-gradient(
    to bottom,
    rgba(231, 249, 253, 0) 0%,
    rgba(231, 249, 253, 1) 48%,
    rgba(231, 249, 253, 1) 99%
  );
  padding: 16px 16px 32px;
  border-radius: 30px;
  box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;

  .image-wrapper {
    position: relative;
    margin-bottom: 24px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 20px;
    }

    button.liked {
      position: absolute;
      top: 16px;
      right: 16px;
      border-radius: 50%;
      border: none;
      width: 48px;
      height: 48px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .recipe-name {
    font-size: 24px;
    font-weight: 600;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0;
    width: 100%;
    min-height: 56px;
  }

  .tags {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin-top: 24px;

    @extend.list-unstyled;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      font-weight: 500;
      padding-right: 12px;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

// ## Footer

.main-footer {
  padding-top: 120px;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;

  .main-nav {
    .nav-item {
      padding-top: 0;
      padding-bottom: 0;
    }
    li:last-child {
      padding-right: 0;
      a {
        padding-right: 0;
        margin-right: 0;
      }
    }
  }
}

.info p {
  margin-bottom: 0;
}

.footer-copyright {
  border-top: 1px solid rgba(#000, 0.1);
  padding-top: 48px;
  white-space: nowrap;
  overflow: hidden;
  .social-wrap {
    display: inline-block;
    transform: translateX(-100%);
  }
}

.copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
  p {
    font-size: 18px;
    margin: 0;
  }
  //family Exodus Sans
  .highlighted {
    color: #ff7967;
  }
}
