// ## Utilities
html {
  font-size: 16px;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

// ## Main-header
.main-header {
  border-bottom: 1px solid rgba(#000, 0.1);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-logo {
  max-width: 110px;
  flex-basis: 110px;
  display: block;

  img {
    width: 100%;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  list-style-type: none;

  .nav-item {
    padding: 37px 22px;
    a {
      margin: 0 15px;
      font-family: monospace;
      color: black;
      text-decoration: none;
      padding: 8px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.social-links {
  justify-content: space-between;
  display: flex;
  flex: 0 0 auto;
  max-width: 133px;
}

.social-links-button {
  max-height: 22px;
  max-width: 22px;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 5px;
}

.social-logo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 10px;
}

// ## Footer

.main-footer {
  padding-top: 120px;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;

  .main-nav {
    .nav-item {
      padding-top: 0;
      padding-bottom: 0;
    }
    li:last-child {
      padding-right: 0;
      a {
        padding-right: 0;
        margin-right: 0;
      }
    }
  }
}

.info p {
  margin-bottom: 0;
}

.footer-copyright {
  border-top: 1px solid rgba(#000, 0.1);
  padding-top: 48px;
  white-space: nowrap;
  overflow: hidden;
  .social-wrap {
    display: inline-block;
    transform: translateX(-100%);
  }
}

.copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
  p {
    font-size: 18px;
    margin: 0;
  }
  //family Exodus Sans
  .highlighted {
    color: #ff7967;
  }
}

// ## Recipe

.recipe {
  background-color: #dbe2e5;
  max-width: 400px;
  min-height: 434px;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  margin: auto;
}

.image-wrapper {
  display: flex;
  position: relative;
  justify-content: end;

  button {
    position: absolute;
    border-radius: 50%;
    border: none;
    max-height: 48px;
    max-width: 48px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;

    img {
      max-width: 24px;
      max-height: 24px;
    }
  }

  img {
    margin: auto;
    border-radius: 10%;
    padding: 16px;
  }
}
